body{

  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

#container
{
 height:100%;
  width:100%
  padding:0px;
}
#header
{
display:grid;
grid-template-columns: repeat(12, 2fr 5fr);
grid-template-rows:40px;
top:0;
overflow:hidden;
position:-webkit-sticky;
position:sticky;
position:fixed;
width:100vw;
margin:0px;
padding:0px;
}

#logo
{

  grid-column: 1 / 6;
  padding:0px 5px 45px 5px;
  display:flex;
  justify-content: center;
}

img
{
  margin:0px 10px 0px 0px;
  padding:0px;
}
#nav-bar
{

  grid-column: 6 /  -1;
  display:flex;
  justify-content:flex-end;
  border:0px;
  background-color:#8E8EF0;
  padding-right:50px;
}
  #logo > h1
  {
  display:inline;
  padding-bottom:40px;
  margin:5px 5px 10px 0px;
  color:white;
    }


#nav-bar > a
{
  display:block;
  height:30px;
  background-color:#FFD540;
  padding:0px 2px 3px 2px;
  margin:5px;
  text-align: center;
  border-radius:5px;
  color:#6F23FF;

}

#active:hover
              {
                background-color:lightblue;
              }
#features
{
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
 width:100%;
 height:100vh;
 background-color:#6F23FF;
 padding:10px;
}

#form
  {
  width:200px;
  height:10%;
  margin:10px;
  padding:10px;
  border:3px solid white;
    }

  #content
  {
      margin:20px;
      height:60%;
      color:white;
  }
 #content >   tr
  {
    padding:25px;
    text-align:center;
  }

 #email
  {
    margin-bottom:8px;
    margin-left:25px;
  }
#submit
{
  margin-left:80px;
  background-color:#FFD540;
  border-radius:10px;
  }

  #submit:hover
  {
    background-color:lightblue;
  }

#h-works
{
  display:flex;
  justify-content:center;
  align-content:center;
  width:100%;
  height:100vh;
  padding-top:200px;
  border:2px solid black;
  background-color:#6F23FF;

}

#pricing
{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100vh;
  border:2px solid black;
  background-color:#6F23FF;

}

 #pricing > div
{

  width:300px;
  height:400px;
  border:2px solid white;
  margin:10px;
  padding:10px;
  background-image: linear-gradient(to bottom, #6F, #23, #FF);
  color:white;
}

#pricing > div > p
{
  margin:3px;
  padding-left:40px;
  text-align:center;
}
#pricing > div > h3
{
  margin:10px;
  padding-top:30px;
  padding-bottom:10px;
  padding-left:40px;
  text-align:center;
  background-color:#8E8EF0;
}
@media (max-width: 320px) {
#container ,   #features , #h-works , #pricing {
      width: 20%;
  }
}
